# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files 

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local Environment Files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Android/Gradle
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/local.properties
android/.cxx/

# Android Studio
*.iml
.gradle
.idea
*.iws
*.ipr

# Kotlin/Java Build Files
*.apk
*.ap_
*.dex
*.class
*.jar
*.keystore

# Log and Crash Files
*.log
crashlytics-build.properties

# NDK
obj/

# VS Code and macOS
.vscode/
.DS_Store